form {
    padding-top: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.button.is-primary {
    margin-top: .5rem;
}

.label {
    color: #e84393;
}

.input {
    margin-bottom: .5rem;
}

label {
    margin-bottom: .5rem;
}

.container.is-widescreen.is-mobile {
    max-width: 500px;
    margin-top: .5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 1rem;
    background-color: #0a3d62;
}

.columns.is-centered {
    margin-top: .5rem;
}

.title.is-3 {
    color: #e84393;
}
