<!DOCTYPE html>
<html>
    <head>
        {{> styles}}
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>Event Form</title>
        <style>
        </style>
    </head>
    <body>
        <div class="columns is-centered">
            <div class="container is-widescreen is-mobile">
                <form method="post">
                    <h2 class="title is-3">Create a new event</h2>
                    <label class="label" for="game_id">Game</label>
                    <select class="input" name="game_id" id="game_id">
                        {{#each games}}
                        <option value={{this.id}}>({{this.league}}) {{this.home}} vs {{this.away}} (Start: {{this.start}})</option>
                        {{/each}}
                    </select>
                    <label class="label" for="description">Description</label>
                    <input class="input" type="text" name="description">
                    <label class="label" for="odds">Odds</label>
                    <input class="input" type="number" name="odds">
                    <input class="button is-primary" type="submit" value="Enter">
                </form>
            </div>
        </div>
        {{#if message}}
        <p><strong>{{ message }}</strong></p>
        {{/if}}
    </body>
</html>
