<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Event Form</title>
    </head>
    <body>
        <h2>Create a new event</h2>
        <form method="post" action="/">
            <label for="description">Description</label>
            <input type="text" name="description">
            <label for="odds">Odds</label>
            <input type="number" name="odds">
            <input type="submit" value="Enter">
        </form>
        {{#if message}}
        <p><strong>{{ message }}</strong></p>
        {{/if}}
    </body>
</html>
