<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Event Form</title>
    </head>
    <body>
        <h2>Create a new event</h2>
        <form method="post">
            <input type="text" name="description" value="description">
            <label for="description">Description</label>
            <input type="number" name="odds" value="odds">
            <label for="odds">Odds</label>
            <input type="submit" value="Enter">
        </form>
    </body>
</html>
