<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Games</title>
    </head>
    <body>
        {{#if events }}
        <table id="open-games">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Description</th>
                    <th>Odds</th>
            </thead>
            <tbody>
                {{#each events}}
                <tr>
                    <td>{{this.game_id}}{{this.id}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.odds}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/if}}
    </body>
</html>
