<!DOCTYPE html>
<html>
    <head>
        {{> styles}}
        <link rel="stylesheet" href="/static/css/style.css">

        <meta charset="utf-8">
        <title>Games</title>
    </head>
    <body>
        <table class="table" id="open-games">
            <thead>
                <tr>
                    <th>League</th> 
                    <th>Home</th>
                    <th>Away</th>
                    <th>Start</th></tr>
                {{#each games}}
                    <tr>
                        <td>{{this.league}}</td>
                        <td>{{this.home}}</td>
                        <td>{{this.away}}</td>
                        <td>{{this.start}}</td>
                    </tr>
                {{/each}}
        </table>
    </body>
</html>
