<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Event Form</title>
    </head>
    <body>
        <h2>Create a new game</h2>
        <form method="post">
            <label for="home">Home Team:</label>
            <select id="home" name="home">

                <option disable selected value> -- </option>
                {{#each teams}}
                <option value={{this.0}}>{{this.1 }}</option>
                {{/each}}
            </select>
            <label for="away" name="away">Away Team:</label>
            <select id="away" name="away">

      <option disable selected value> -- </option>
                {{#each teams}}
                <option value={{this.0}}>{{this.1}}</option>
                {{/each}}
            </select>
        </select>
        <input type="submit" value="Create Game"></input>
        </form>
        {{#if message}}
        <p><strong>{{ message }}</strong></p>
        {{/if}}
    </body>
</html>
